@page "/"

<div class="container">
    <div class="row">
        <div class="col-12 text-center" style="font-size: 16rem;">
            <CurrentTime />
        </div>

        <div class="col-12 text-center" style="font-size: 3rem;">
            <CurrentTemp />
        </div>
    </div>
</div>
